In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [3]:
data=pd.read_csv(r"C:\Mba notes\novels\Melbourne_housing_FULL.csv")

In [4]:
data.sample(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
27756,Fairfield,52 Arthur St,3,h,NaN,SP,Jellis,18/11/2017,5.7,3078.0,...,1.0,1.0,NaN,168.0,1900.0,Darebin City Council,-37.78060,145.01880,Northern Metropolitan,2970.0
13685,South Yarra,10/9 Darling St,2,u,NaN,PI,Williams,20/05/2017,3.3,3141.0,...,1.0,1.0,0.0,59.0,2014.0,Melbourne City Council,-37.83790,144.99130,Southern Metropolitan,14887.0
25577,Bentleigh,33A McKittrick Rd,4,t,1470000.0,S,Jellis,28/10/2017,11.4,3204.0,...,3.0,2.0,NaN,260.0,2009.0,Glen Eira City Council,-37.92935,145.04323,Southern Metropolitan,6795.0
26153,Malvern East,447 Wattletree Rd,5,h,5100000.0,S,Jellis,28/10/2017,8.4,3145.0,...,2.0,4.0,NaN,NaN,NaN,Stonnington City Council,-37.86557,145.05542,Southern Metropolitan,8801.0
25561,Balwyn North,3 Stephens St,6,h,2900000.0,VB,Fletchers,28/10/2017,9.7,3104.0,...,3.0,3.0,NaN,NaN,NaN,Boroondara City Council,-37.79581,145.08565,Southern Metropolitan,7809.0

In [7]:
data.shape

(34857, 21)

In [6]:
data.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [8]:
data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [10]:
columns=['Suburb','Rooms','Type','Method','SellerG','Regionname','Propertycount','Distance','CouncilArea','Bedroom2','Bathroom','Car','Landsize','BuildingArea','Price']
df1=data[columns]
df1.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0

In [11]:
df1.shape

(34857, 15)

In [12]:
df1.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [14]:
fill_col=["Propertycount",'Distance','Bedroom2','Bathroom','Car']
df1[fill_col]=df1[fill_col].fillna(0)

C:\Mba notes\novels\Anaconda\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [15]:
df1.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
Distance             0
CouncilArea          3
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [17]:
df1["Landsize"]=df1["Landsize"].fillna(df1["Landsize"].mean())
df1["BuildingArea"]=df1['BuildingArea'].fillna(df1.BuildingArea.mean())
df1.isnull().sum()

<ipython-input-17-4c5bb33253bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Landsize"]=df1["Landsize"].fillna(df1["Landsize"].mean())
<ipython-input-17-4c5bb33253bf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["BuildingArea"]=df1['BuildingArea'].fillna(df1.BuildingArea.mean())

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [19]:
df2=df1.dropna()
df2.isnull().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [21]:
df3=pd.get_dummies(df2,drop_first=True)
df3.head()

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,2,4019.0,2.5,2.0,1.0,1.0,202.0,160.2564,1480000.0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,4019.0,2.5,2.0,1.0,0.0,156.0,79.0000,1035000.0,0,...,0,0,0,0,0,0,0,0,1,0
4,3,4019.0,2.5,3.0,2.0,0.0,134.0,150.0000,1465000.0,0,...,0,0,0,0,0,0,0,0,1,0
5,3,4019.0,2.5,3.0,2.0,1.0,94.0,160.2564,850000.0,0,...,0,0,0,0,0,0,0,0,1,0
6,4,4019.0,2.5,3.0,1.0,2.0,120.0,142.0000,1600000.0,0,...,0,0,0,0,0,0,0,0,1,0

In [30]:
x=df3.drop("Price",axis=1)
y=df3["Price"]

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)
model=LinearRegression()
model.fit(x_train,y_train)
print("Traininy Score = ",model.score(x_test,y_test),",Testing Score = ",model.score(x_train,y_train))

Traininy Score =  0.1385368316158937 ,Testing Score =  0.6827792395792723

lasso is L1 Regularization

In [35]:
lasso_reg=Lasso(alpha=50,max_iter=100,tol=0.1)
lasso_reg.fit(x_train,y_train)

C:\Mba notes\novels\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1326631542478297.5, tolerance: 796258688308222.5
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=50, max_iter=100, tol=0.1)

In [36]:
lasso_reg.score(x_test,y_test)

0.6636111369404488

In [37]:
lasso_reg.score(x_train,y_train)

0.6766985624766824

Ridge Regresssion is L2

In [43]:
ridge_reg=Ridge(alpha=50,max_iter=100,tol=0.1)
ridge_reg.fit(x_train,y_train)
ridge_reg.score(x_test,y_test)

0.6670848945194958

In [45]:
ridge_reg.score(x_train,y_train)

0.6622376739684328