In [1]:
import pandas  as pd
import csv
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB 
from sklearn.datasets import load_wine

In [2]:
wine=load_wine()

In [3]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [4]:
data=pd.DataFrame(wine.data,columns=wine.feature_names)

In [6]:
len(data)

178

In [7]:
data["target"]=wine.target

In [8]:
len(data)

178

In [9]:
model3=GaussianNB()

In [10]:
data.groupby(data["target"]).describe()

       alcohol                                                             \
         count       mean       std    min     25%     50%     75%    max
target
0         59.0  13.744746  0.462125  12.85  13.400  13.750  14.100  14.83
1         71.0  12.278732  0.537964  11.03  11.915  12.290  12.515  13.86
2         48.0  13.153750  0.530241  12.20  12.805  13.165  13.505  14.34

       malic_acid            ... od280/od315_of_diluted_wines       proline  \
            count      mean  ...                          75%   max   count
target                       ...
0            59.0  2.010678  ...                         3.42  4.00    59.0
1            71.0  1.932676  ...                         3.16  3.69    71.0
2            48.0  3.333750  ...                         1.82  2.47    48.0


               mean         std    min    25%     50%     75%     max
target
0       1115.711864  221.520767  680.0  987.5  1095.0  1280.0  1680.0
1        519.507042  157.211220  278.0  406.5   495.0   625.0   985.0
2        629.895833  115.097043  415.0  545.0   627.5   695.0   880.0

[3 rows x 104 columns]

In [14]:
data1=data.drop("target",1)
x=data1
y=data["target"]

In [15]:

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [16]:
model=MultinomialNB()

In [17]:
model.fit(x_train,y_train)

MultinomialNB()

In [18]:
model.score(x_test,y_test)

0.8611111111111112

In [19]:
cross_val_score(GaussianNB(),x_train,y_train)

array([0.96551724, 1.        , 0.96428571, 1.        , 1.        ])

In [30]:
data2=pd.read_csv(r"C:\Mba notes\novels\spam.csv",encoding="latin-1")

In [31]:
data2

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will ÃŒ_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [32]:
data3=data2.drop(data2[["Unnamed: 2","Unnamed: 3","Unnamed: 4"]],axis="columns")

In [33]:
data3.groupby("v1").describe()

        v2
     count unique                                                top freq
v1
ham   4825   4516                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [34]:
data3["spam"]=data3["v1"].apply(lambda x:1 if x=="spam" else 0)

In [35]:
data3

        v1                                                 v2  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0
...    ...                                                ...   ...
5567  spam  This is the 2nd time we have tried 2 contact u...     1
5568   ham              Will ÃŒ_ b going to esplanade fr home?     0
5569   ham  Pity, * was in mood for that. So...any other s...     0
5570   ham  The guy did some bitching but I acted like i'd...     0
5571   ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x1_train,x1_test,y1_train,y1_test=train_test_split(data3.v2,data3.spam,test_size=0.2)

In [38]:
from sklearn.feature_extraction.text import CountVectorizer

In [40]:
v=CountVectorizer()

In [42]:
x1_train_count=v.fit_transform(x1_train.values)

In [43]:
x1_train_count

<4457x7758 sparse matrix of type '<class 'numpy.int64'>'
	with 59164 stored elements in Compressed Sparse Row format>

In [44]:
x1_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [45]:
model1=MultinomialNB()

In [95]:
model1.fit(x1_train_count,y1_train)

MultinomialNB()

In [96]:
x1_test_count=v.transform(x1_test)
model.score(x1_test_count,y1_test)

0.9928251121076234

In [97]:
a=model1.predict(x1_test_count)

In [98]:
b=pd.DataFrame(a)
c=b.rename(columns={0:"prediction"})
c

      prediction
0              0
1              0
2              0
3              0
4              0
...          ...
1110           0
1111           0
1112           0
1113           1
1114           0

[1115 rows x 1 columns]

In [99]:
d=c.groupby("prediction")
print(d)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FA7F527340>

In [100]:
d.get_group(1)

      prediction
20             1
29             1
40             1
49             1
51             1
...          ...
1074           1
1090           1
1104           1
1106           1
1113           1

[140 rows x 1 columns]

In [89]:
from sklearn.pipeline import Pipeline

In [91]:
clf=Pipeline([
    ("vectorizer",CountVectorizer()),
    ("rb",MultinomialNB())
])

In [93]:
clf.fit(x1_train,y1_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('rb', MultinomialNB())])

In [94]:
clf.score(x1_test,y1_test)

0.9928251121076234